In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("data/test2.csv")

In [4]:
data.head()

     x    y
0  2.0  196
1  2.4  221
2  1.5  136
3  3.5  225
4  3.5  244

In [5]:
data.describe()

               x           y
count  18.000000   18.000000
mean    3.688889  265.777778
std     1.251770   67.319742
min     1.500000  136.000000
25%     2.675000  225.000000
50%     3.600000  241.500000
75%     4.700000  338.000000
max     5.900000  359.000000

In [6]:
X = data['x'].values
Y = data['y'].values

In [7]:
x_mean = np.mean(X)
y_mean = np.mean(Y)
n = len(X)

In [8]:
numerator = 0
denominator = 0

for i in range(n):
    numerator += (X[i] - x_mean) * (Y[i] - y_mean)
    denominator += (X[i] - x_mean) ** 2

print(numerator)
print(denominator)

1341.3555555555554
26.63777777777779

In [9]:
b1 = numerator / denominator
b0 = y_mean - (b1 * x_mean)#printing the coefficient
print(b1, b0)

50.355385000417094 80.02235755401693

In [10]:
np.max(X)

5.9

In [ ]:

# #plotting values 
x_max = np.max(X) + 100
x_min = np.min(X) - 100

# #calculating line values of x and y
x = np.linspace(x_min, x_max, 1000)
y = b0 + b1 * x